.favorites {
  margin: 1rem;
}

.favorites__container {
  display: flex;
  overflow-x: auto;
  margin-top: 1rem;
}

.favorites__heading {
  text-align: center;
}

.scrollHorizontally {
  text-align: center;
  font-weight: bold;
  color: #444;
}

@media (min-width: 768px) {
  .favorites__container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .scrollHorizontally {
    display: none;
  }
}
