.favorites {
  margin: 1rem;
}

.favorites__container {
  display: flex;
  overflow-x: auto;
  margin-top: 4rem;
}

.favorites__heading {
  text-align: center;
}

@media (min-width: 768px) {
  .favorites__container {
    flex-wrap: wrap;
    justify-content: center;
  }
}
