:root {
  --primary-color: #ec5323;
}

textarea {
  width: 95%;
  border: 1px solid var(--primary-color);
  border-radius: 10px;

}

.dashboard__container {
  padding: 1rem;
  width: 90%;
  margin-top: 5rem;
}

.formContainer {
  width: 100%;
}

.formContainer__formInput {
  margin-bottom: 1.5rem;
  width: 100%;
}

.formContainer__formInput input {
  display: inline-block;
  width: 95%;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  font-size: 16px;
  padding: 4px 7px;
  outline: 0;
  background: transparent;
}

.formContainer__formInput__file input {
  display: inline-block;
  margin-bottom: 1rem;
  width: 95%;
  border-radius: 10px;
  font-size: 20px;
  padding: 4px 7px;
  outline: 0;
  background: transparent;
}

.formContainer button {
  width: 100%;
  padding: 0.4rem 1.4rem;
  background: var(--primary-color);
  border: none;
  border-radius: 10px;
  font-weight: bold;
  color: #fff;
  font-size: 1rem;
}

.formContainer_header {
  margin-bottom: 3.4rem;
  text-align: center;
  width: 70%;
  color: #444;
}

.dashboard__container h2 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.formContainer__checkbox {
  display: flex;
  align-items: center;
  height: 25px;
  margin-bottom: 1rem;
}

.formContainer__checkbox input {
  width: 40px;
  height: 25px;
}

@media screen and (min-width: 768px) {
    .dashboard__container {
        width: 50%;
        text-align: center;
        margin: 5rem auto;
    }
}