.propertyContainer img {
  width: 100%;
}

.propertyContainer p {
  margin-top: 0.58rem;
  padding: 0.5rem 0;
  border-bottom: 1px dotted #444;
}

.propertyContainer {
  padding: 1rem;
  margin: 4rem auto;
  width: 100%;
}

.propertyCard {
  margin: 1rem;
}

.propertyCard__info {
  color: #444;
  background: white;
}

@media (min-width: 768px) {
  .propertyContainer {
    width: 70%;
  }

  .propertyContainer img {
    width: 60%;
  }
}
