.propertyCard {
  background: #fff;
  padding: 1rem;
  margin: 0.5rem;
  color: rgb(70, 67, 67);
  font-weight: 400;
}

.propertyCard__body {
  margin: 0.8rem 0.4rem;
}

.propertyCard__body__bottom {
  font-size: 0.8rem;
}

.propertyCard__footer__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.available,
.notAvailable {
  background: #3c79db;
  padding: 0.3rem;
  display: inline-block;
  color: #fff;
  font-weight: bold;
}

.notAvailable {
  background: #6566ac;
}

.propertyCard__footer__price p {
  margin: 0;
}

.propertyCard__body__top p:first-child {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

footer a {
  margin-top: 1rem;
  display: block;
  background: #ec5323;
  padding: 0.5rem 0.8rem;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
}
