.mainFooter {
  height: 70px;
  margin-top: 5rem;
  padding: 1.5rem 0.4rem 5rem;
  background: #03030381;
  text-align: center;
  color: rgb(235, 229, 229);
  font-size: 0.85rem;
  opacity: 1;
}

.mainFooter__text {
  color: #fff;
  font-size: 0.85rem;
  font-weight: bold;
}

footer a {
  background: none;
  display: inline-block;
  color: #fff;
}

.mainFooter a {
  transition: ease-in-out 0.3s;
}
