.mainFooter {
  min-height: 500px;
  margin-top: auto;
  padding: 1.5rem 0.4rem 5rem;
  background: #6d676781;
  text-align: center;
  color: rgb(179, 173, 173);
  font-size: 0.85rem;
}

.mainFooter a {
  transition: ease-in-out 0.3s;
}

.mainFooter__text {
  color: #fff;
  font-size: 0.85rem;
}

footer a {
  background: none;
  display: inline-block;
  color: #fff;
}
