.signupContainer:before { 
    content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
      background: url('../../assets/images/f2ce27b3a0bffea55e552dc8d07eb694.jpg');
      background-repeat: no-repeat;
      background-size: cover;
     opacity: 0.3;
  }

 