:root {
    --primary-color: #ec5323;
}

.content {
  position: relative; 
  z-index: 2;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}


.formContainer__formInput {
  margin-bottom: 1.5rem;
}

.formContainer__formInput input {
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  font-size: 20px;
  padding: 4px 7px;
  outline: 0;
  background: transparent;
}

.formContainer button {
  padding: 0.4rem 1.4rem;
  background: var(--primary-color);
  border: none;
  border-radius: 10px;
  font-weight: bold;
  color: #fff;
  font-size: 0.8rem;

}

.formContainer_header {
  margin-bottom: 3.4rem;
  text-align: center;
  width: 70%;
  color: #444;
}

.formContainer_header h2 {
  font-size: 1.8rem;
  font-weight: 600;
}

.formContainer_header p {
  font-style: 0.9rem;
  font-weight: normal;
}
