.loginSignupContainer::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: url('../assets/images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.3;
}



.success,
.error {
  padding: 0.5rem;
  background: rgb(94, 140, 226);
  color: white;
  font-size: 0.9rem;
}

.error {
  background: rgb(158, 14, 9);
}

.backToHome a {
  margin-top: 1rem;
  height: 25px;
  display: flex;
  align-items: center;
  color: #ec5323;
  font-weight: bold;
}

